<!DOCTYPE html>
<html lang="en">
 
<!--
    Small page to let the user know the information provided on index.html was not saved in the database due to an error on the database for this small app this is most likely due to an duplicate name trying to be saved into the database.
-->

<head>
    <title>Error</title>
    <meta name = "author" content="Nicolas Agudelo">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
        </div>

        <form name="SForm" id="SForm" method="GET">
          <h1 style="color: red;">The name provided is already registered on the database, please try another.</h1>  
            <button id="Home" type="submit" class="btn btn-danger">Back to Home</button> 
          </form>
 
    </div>
</body>
 
</html>