<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Error</title>
    <meta name = "author" content="Nicolas Agudelo">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
        </div>

        <form name="SForm" id="SForm" method="GET">
          <h1 style="color: red;">The name provided is already registered on the database, please try another.</h1>  
            <button id="Home" type="submit" class="btn btn-danger">Back to Home</button> 
          </form>
 
    </div>
</body>
 
</html>